<div class="main-wrapper">
    <img src="/assets/icons/icon_exit.png" class="cross">
    <img src="/assets/logo/sapiens_logo.png" class="logo">
    <div class="heading">
        RESPoSTA

    </div>
    <div class="instructions">
       <p>
        Amenhotep IV,tambe anomenat Akhenaton
    </p>

    </div>
    <div [routerLink]="['../example-team2']" class="comencar">
        <p style="color: #93b50c;">
         Correcta
     </p>
     <img src="/assets/icons/icon_correct.png" class="correct">

     </div>
     <div [routerLink]="['../example-team2']" class="comencar">
        <p style="color:#f43145">
            Incorrecta
        </p>
        <img src="/assets/icons/icon_incorrect.png" class="correct">

     </div>
    <div class="equip">
        <button class="equip-btn">
            <p>Equip 1</p>
            <p>10</p>

        </button>
        <button style="background-color: #ff7c0c;" class="equip-btn">
            <p>Equip 2</p>
            <p>10</p>

        </button>
    </div>
</div>

