<div class="row m-3 no-gutters">
    <div class="col-md-12 mb-1">
        <div class="d-flex justify-content-between title-wrapper">
            <h2 class="title">Prize Winners</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Prize</th>
                        <th>Dated</th>
                    </tr>
                </thead>

                <ng-container *ngIf="dataStatus == 'fetching'">
                    <tbody [appSkeletonTabelLoader]="loaderOptions"></tbody>
                </ng-container>
                <ng-container *ngIf="dataStatus == 'done'">
                    <tbody *ngIf="this.listPrize.length > 0">

                        <tr *ngFor="let d of this.listPrize; let i = index">
                            <td>{{d.name}}</td>
                            <td>{{d.email}}</td>
                            <td>{{d.prize_name}}</td>
                            <td>{{moment(d.created_at).format(cs.DATE_TIME_FORMAT.SHORT_DATE)}}</td>
                        </tr>
                    </tbody>
                    <ng-template #noDataFound>
                        <tbody>
                            <tr>
                                <td colspan="6">
                                    <app-no-data-found></app-no-data-found>
                                </td>
                            </tr>
                        </tbody>
                    </ng-template>
                </ng-container>
            </table>

        </div>
    </div>
</div>
