<div class="row m-3 no-gutters">
    <div class="col-md-12 mb-1">
        <div class="d-flex justify-content-between title-wrapper">
            <h2 class="title">Prizes</h2>
            <button class="red sm mb-2" (click)="openModal(addEdit,-1)">Add New Prize</button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Total</th>
                        <th class="text-center"  width="200">Actions</th>
                    </tr>
                </thead>

                <ng-container *ngIf="dataStatus == 'fetching'">
                    <tbody [appSkeletonTabelLoader]="loaderOptions"></tbody>
                </ng-container>
                <ng-container *ngIf="dataStatus == 'done'">
                    <tbody *ngIf="this.listPrize.length > 0">

                        <tr *ngFor="let d of this.listPrize; let i = index">
                            <td>{{d.name}}</td>
                            <td>{{d.total}}</td>
                            <td class="d-flex justify-content-center align-content-center">
                                <div class="px-2">
                                    <button (click)="openModal(addEdit,i)" class="btn sm green" >Edit</button>
                                </div>
                                <div class="px-2">
                                    <button (click)="openModal(deleteTemplate,i)" class="btn sm red" >Del</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <ng-template #noDataFound>
                        <tbody>
                            <tr>
                                <td colspan="6">
                                    <app-no-data-found></app-no-data-found>
                                </td>
                            </tr>
                        </tbody>
                    </ng-template>
                </ng-container>
            </table>

        </div>
    </div>
</div>
<ng-template #addEdit>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Manage Prize </h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="addEditForm" #f="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-12 mb-1">
                            <label class="mb-0">Name<span class="mendatory">*</span></label>
                            <input formControlName="name" class="form-control" type="text" placeholder="Enter Prize Name">
                            <div *ngIf="ui.checkErrors(g.name, f)" class="errors">
                                <p *ngIf="g.name.errors.required">Prize name is required</p>
                                <p *ngIf="g.name.errors.maxlength">Maximum {{ g.name.erros.maxlength.requiredLength }} charaters</p>
                            </div>
                        </div>

                        <div class="col-md-12 mb-1">
                            <label class="mb-0">Total Prizes<span class="mendatory">*</span></label>
                            <input type="number" min="1" formControlName="total" class="form-control" placeholder="Enter Total Prizes">
                            <div *ngIf="ui.checkErrors(g.total, f)" class="errors">
                                <p *ngIf="g.total.errors.required">Total prizes rquired</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <button type="submit" (click)="save(f);" class="green sm m-1" [disabled]="loginLoading" [ngClass]="loginLoading?'in-progress':''">Save
                <span></span><span></span><span></span>
            </button>
            <button type="button" class="red sm ml-1" (click)="cancelButton(f)">Cancel</button>

        </form>
    </div>
</ng-template>

<ng-template #deleteTemplate>
    <div class="modal-body">
        <p>Are you sure that you want to delete?</p>
        <div class="text-right">
            <button class="sm black" (click)="cancelButton()">No</button>
            <button class="sm red" (click)="deleteEntry()" [disabled]="loginLoading" [ngClass]="loginLoading?'in-progress':''">Yes
                <span></span><span></span><span></span>
            </button>
        </div>
    </div>
</ng-template>
