<div class="main-wrapper">
    <img src="/assets/logo/sapiens_logo.png" class="logo">
    <div class="heading">
        Preguntes amb premi
    </div>
    <div >
        <ul class="instructions">
            <li>
                1.	Durant el joc poden sortir preguntes amb premi per a contestar entre els dos equips.
            </li>
            <li>
                2.	Aquestes preguntes tenen 4 opcions de resposta possibles i un temps màxim de 30 segons.
            </li>
            <li>
                3.	Les respostes correctes estan premiades amb productes Valero.
            </li>
            <li>
                4.	Promoció vàlida per a partides entre les 14 i les 22 hores del dia de Reis.
            </li>
        </ul>

    </div>
    <button [routerLink]="['../quiz']" class="comencar">començar</button>
</div>
